<html lang="en">
<head>
    <meta charset="utf-8">
    <title>view question</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
 <style type="text/css">
  .btn-success{
    background-color: #4d5850
   }
  .edit{
    background-color: #4d5850
   }
  .delete {
    position: relative;
    right: 5px;
  }
   .dyanamic input{
     float:left;
    }
  .warnig_msg{
    right:20px;
  }
 .edit_question input{
    width: 100%;
  }
.quiz_timer{
   width: 60px;
  }
  
 </style>
</head>
<body>
  <div class="container">
    <h2>Question List</h2>
        <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
       <a href="/home" class="btn btn-success" >Home</a><br>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>Question ID</th>
          <th>Question Name</th>
          <th>options</th>
          <th>Answer</th>
          <th>quiz time</th>     
        </tr>
      </thead>
      <tbody>
       <% results.forEach((result) => { %>
        <tr>
          <td><%= result.id %></td>
          <td><%= result.question %></td>
          <td><%= result.options %></td>
          <td><%= result.answer %></td>
          <td><%= result.quiz_time %></td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="<%= result.id %>">Edit</a><br>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="<%= result.id %>">Delete</a>
          </td>
        </tr>
       <% }) %>
      </tbody>
    </table>
  </div>
 
    <!-- Modal Add Product-->
      <form action="/add_question" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Question</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body add_question">
           
                   <textarea type="text"  style="width:100%;" name="question" class="form-control" placeholder="question" required></textarea><br>
               
 
                   <div class="option_field">
                     <label> <input type="text" name="option[1]"  placeholder="option1" required> </label>
                   </div>
                   <label><input type="button" value="Add a option" class="add_option_field" /></label>
 
                   <div class="answer_field">
                     <label> <input type="text" name="answer[1]"  placeholder="answer1" required></label>
                  </div>
                   <label><input type="button" value="Add answer" class="add_answer_field" /></label>

                  <div class="quiz_time">
                     <label> <input type="text" class="quiz_timer" name="quiz_time_minute" placeholder="minute" name="quiz_time" required/></label>
                     <label> <input type="text" class="quiz_timer" name="quiz_time_second" placeholder="second" name="quiz_time" required/></label>
                 </div>
                
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>
  

    <% results.forEach((result) => { %>
     <!-- Modal Update Product-->
   <form action="/update" method="post">
       <div class="modal fade" id="EditModal<%= result.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">

          <div class="modal-content edit_question">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <div class="modal-body">

               <div class="form-group">
                 Question  <textarea type="text" style="width:100%;" name="question" class="question<%= result.id %>" required><%= result.question %></textarea>
               </div>
 
               <div class="form-group">
                 Options  <input type="text" name="options" class="options<%= result.id %>" value="<%= result.options %>"  required>
               </div>
               
               <div class="form-group">
                 Answer  <input type="text" name="answer" class="answer<%= result.id %>" value="<%= result.answer %>" required>
               </div>

               <div class="form-group">
                  Time <input type="text" name="quiz_time" class="quiz_time<%= result.id %>" placeholder="mm:ss" value="<%= result.quiz_time %>" required>
               </div>

             </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="id" value="<%= result.id %>">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>

        </div>
       </div>
  </form>
 <% }) %>
     <!-- Modal Delete Product-->
      <form id="add-row-form" action="/delete" method="post">
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Delete Product</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="warnig_msg modal-body">
                            <strong>Are you sure to delete this data?</strong>
                   </div>
                   <div class="modal-footer">
                                            <input type="hidden" name="id" class="form-control id2" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                    </div>
            </div>
         </div>
     </form>
 
<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
    jQuery(document).ready(function(){
      var i =2; var j=2;
      jQuery(".add_option_field").click(function() {
        var fName = jQuery('<div class="form-group"><input type="text" name="option['+i+']" class="dyanamic" placeholder="option'+i+'" required></div>');
        var removeButton = jQuery('<input type="button" class="dyanamic remove" value="-"/><input type="hidden" name="total_option" value="'+i+'"/>');
        removeButton.click(function() {
            jQuery(this).parent().remove();
            i--;
        });
        fName.append(removeButton);
        jQuery(".option_field").append(fName);
        i++;
    });

      jQuery(".add_answer_field").click(function() {
        var fName = jQuery('<div class="form-group"><input type="text" name="answer['+j+']" class="dyanamic" placeholder="answer'+j+'" required></div>');
        var removeButton = jQuery('<input type="button" class="remove" value="-"/><input type="hidden" name="total_answer" value="'+j+'"/>');
        removeButton.click(function() {
            jQuery(this).parent().remove();
             j--;
        });
        fName.append(removeButton);
        jQuery(".answer_field").append(fName);
         j++;
    });
            //showing data to edit modal      
     jQuery('#mytable').on('click','.edit',function(){
        var id = jQuery(this).data('id');
        console.log(id);
        var question   = jQuery.trim(jQuery('.question'+id).val());
        var options    = jQuery('.options'+id).val();
        var quiz_time  = jQuery('.quiz_time'+id).val();
        var answer     = jQuery('.answer'+id).val();

        // console.log(question); 
        // console.log(options);
        //  console.log(answer);
        //   console.log(quiz_time);


        jQuery('#EditModal'+id).modal('show');

        jQuery('.question'+id).val(question);
        jQuery('.options'+id).val(options);
        jQuery('.answer'+id).val(answer);
        jQuery('.quiz_time'+id).val(quiz_time);
        // jQuery('.id'+id).val(question);
      });
            //showing delete record modal
     jQuery('#mytable').on('click','.delete',function(){
        var id = jQuery(this).data('id');
        jQuery('#DeleteModal').modal('show');
        jQuery('.id2').val(id);
      });
    });
</script>
</body>
</html>