<html lang="en">
<head>
    <meta charset="utf-8">
    <title>view question</title>
 <style type="text/css">
 #main{
  
  width: 800px;
  margin: 40px auto;
  border:2px black;
  border-radius:2em;
  box-shadow: 0px 0px 30px rgba(48, 50, 50, 0.85);
  padding-bottom: 20px;
  
  }

.ask{
  text-align: justify;
  padding: 20px;
  margin: 20px;
  font-size: 25px;
  font-family: 'Stint Ultra Expanded', cursive;
  
  }
input
{
  
margin-left: 20px;  
  
  }

hr {
  
  margin:30px 0 30px 0; 
    
    }
#center{
 text-align: center;  
  }
#tminus{
      position: absolute;
      right: 100px
    }
  
</style>
</head>
<body>
  <div class="container">
    <h2>Question List</h2>

         <form action="/submit_test" method="post" id="myForm">
         <% $i =1; %>
          
          <% results.forEach((result) => { %>
          <div class="quiz_container">
             <div class="quiz_question">
              <div class="left_time" id="left_time<%= $i %>"></div>
                  <input id="tminus" class="tminus<%= $i %>" placeholder="0:00" value="" readonly/>
           
          
             <div class='ask'> Q. <%= $i %>  <%= result.question %></div>
             <input type="hidden" name="question" value="<%= result.id %>">
             <input type="hidden" class="quiz_time<%= $i %>" name="quiz_time" value="<%= result.quiz_time %>">
             <p id='center'>
             <%   new_options = result.options; %>
             <%   jsonString = JSON.parse(new_options); %>
                
                <%for (var key in jsonString) { %>
                 <input type="radio" name="option[<%= jsonString[key] %>]" value=""><%= jsonString[key] %>
               <% }%>
             
            <% $i++; %>
            
            </p></div></div>
        <% }) %>

         <input type="hidden" name="total" value="<%= $i %>">
         <p align='center'><input id="btnNext" type="submit" value="next"></p></form>
      
     
</div>
<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script type="text/javascript">

jQuery(document).ready(function(){ 
/*code for next question*/
var q = 1,  qMax = 0 , i = 1;  

if (typeof(Storage) !== "undefined") {
    
      var last_div = localStorage.getItem("last_div");
      console.log('last_div '+last_div)
      if(last_div>1){
      q = last_div;
      localStorage.removeItem("last_div");
    } 
  }

$('#btnNext').on('click', function (event) {
       event.preventDefault();
       handleClick();
       i++;
       set_time();
     });

$(function () {
    qMax = $('#myForm div.quiz_container').length;
    console.log(qMax);
    $('#myForm div.quiz_container').hide();
    $('#myForm div.quiz_container:nth-child('+q+')').show();
    
});
 
function handleClick() {
      if (q < qMax) {
          $('#myForm div.quiz_container:nth-child(' + q + ')').hide();
          $('#myForm div.quiz_container:nth-child(' + (q + 1) + ')').show();
          if (q == (qMax - 1)) {

              $('#btnNext').val('Submit Answers');
          }
          q++;
      } else {
          // alert('Submitting'); // Add code to submit your form
      }
  }

   /*code for set time*/

  var totalAmount = localStorage.getItem('countDown') || 0, timeloop;

  if (totalAmount) {
      timeSet();
   }

 function timeSet () {
  totalAmount--;
  // Refresh value in localStorage
  localStorage.setItem('countDown', totalAmount);

   // If countdown is over, then remove value from storage and clear timeout
   if (totalAmount < 0 ) {
       localStorage.removeItem('countDown');
       totalAmount = 0;
       clearTimeout(timeloop);
       return;
   }


  var seconds = parseInt(totalAmount%60);
  var minutes = parseInt(totalAmount/60);
     
  if(!seconds){
   $( "#btnNext" ).trigger( "click" );
  }  

  if(seconds < 10)
      seconds = "0"+seconds;

       $('.tminus'+i).val(minutes + ":" + seconds);

   // console.log(minutes);
   //  console.log(seconds);

  timeloop = setTimeout(timeSet, 1000);
  }
    
  set_time();

  function set_time() {
      var reqVal = jQuery('.quiz_time'+i).val();
      console.log('sss'+reqVal);
      var parAmt = parseInt(reqVal);

      if (timeloop) {
          clearTimeout(timeloop)
      }

      totalAmount = parAmt * 60;
      timeSet();      
   }

});

</script>

</body>
</html>