<html lang="en">
<head>
    <meta charset="utf-8">
    <title>view question</title>
 <style type="text/css">
 #main{
  
  width: 800px;
  margin: 40px auto;
  border:2px black;
  border-radius:2em;
  box-shadow: 0px 0px 30px rgba(48, 50, 50, 0.85);
  padding-bottom: 20px;
  
  }

.ask{
  text-align: justify;
  padding: 20px;
  margin: 20px;
  font-size: 25px;
  font-family: 'Stint Ultra Expanded', cursive;
  
  }
input
  {

  margin-left: 20px;  

  }

#center{
  text-align: center;  
  }
#tminus{
  position: absolute;
  right: 100px
  }
.quiz_container{
  display : none;
  }   
.active{
  display : block;
  }
  
</style>
</head>
<body>
  <div class="container">
    <h2>Question List</h2>

         <form action="/submit_test" method="POST" id="myForm">
         <% $i =1; %>
          
          <% results.forEach((result) => { %>
          <div class="quiz_container">
             <div class="quiz_question">
              <div class="left_time" id="left_time<%= $i %>"></div>
                  <input id="tminus" class="tminus<%= $i %>" placeholder="0:00" value="" readonly/>
           
          
             <div class='ask'> Q. <%= $i %>  <%= result.question %></div>
             <input type="hidden" name="question[<%= $i %>]" value="<%= result.id %>">
             <input type="hidden" class="quiz_time<%= $i %>" name="quiz_time" value="<%= result.quiz_time %>">
             <p id='center'>
             <%   new_options = result.options; %>
             <%   jsonString = JSON.parse(new_options); %>
                
                <%for (var key in jsonString) { %>
                 <input type="radio" id="options<%= $i %>" name="options[<%= $i %>]" value="<%= jsonString[key] %>"><%= jsonString[key] %>
               <% }%>
             
            <% $i++; %>
            
            </p></div></div>
        <% }) %>

         <input type="hidden" name="total" value="<%= $i %>">
         <p align='center'><input id="btnNext" type="submit" value="next"></p></form>
      
     
</div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
 function noBack()
   {
      window.history.forward()
   }
    noBack();
    window.onload = noBack;
    window.onpageshow = function(evt) { if (evt.persisted) noBack() }
    window.onunload = function() { void (0) }

jQuery(document).ready(function(){ 
/*code for next question*/
var q = 1,  qMax = 0 , i = 1, key_q =1;  


 $('#btnNext').on('click', function (event) {
     
    if (q == qMax) {
      // const $form = $('#myForm')
      // $form.on('submit', submitHandler)

      // function submitHandler (e) {
      //   e.preventDefault()
      //   $.ajax({
      //     url: '/submit_test',
      //     type:'POST',
      //     data: $form.serialize()
      //     }).done(response => {
      //        jQuery('.container').html(response);
      //    })
      //  }
     }  
  else{ event.preventDefault();
       handleClick();
      }
   });


  if(localStorage.getItem('key_q')){
    q = localStorage.getItem('key_q');
    console.log(localStorage.getItem('key_q'));
   }

$(function () {
    qMax = $('#myForm div.quiz_container').length;
    // console.log(qMax);
    $('#myForm div.quiz_container:nth-child('+q+')').addClass("active");
});

 
function handleClick() {
      if (q < qMax && $('input[id=options'+q+']:checked').val()) {
        // if (q < qMax ) {
            
          $('#myForm div.quiz_container:nth-child(' + q + ')').removeClass("active");
          $('#myForm div.quiz_container:nth-child(' + (q + 1) + ')').addClass("active");
          if (q == (qMax - 1)) {

              $('#btnNext').val('Submit Answers');
          }

           q++;
           // localStorage.setItem('key_q', q);
           // console.log('q value '+q);
          /*set timer for next question*/
           i++;
           set_time();
      } else {
          alert('select any one option'); // Add code to submit your form
      }
  }

 


   /*code for set time*/

var totalAmount = localStorage.getItem('countDown') || 0, timeloop;

  if (totalAmount) {
      timeSet();
   }

 function timeSet () {
      totalAmount--;
      // Refresh value in localStorage
      // localStorage.setItem('countDown', totalAmount);

       // If countdown is over, then remove value from storage and clear timeout
       if (totalAmount < 0 ) {
           // localStorage.removeItem('countDown');
           totalAmount = 0;
           clearTimeout(timeloop);
           return;
       }

       if( localStorage.getItem('countDown'))
       {  

         localStorage.setItem('countDown', totalAmount);
         totalAmount1 = localStorage.getItem('countDown');
         console.log(localStorage.getItem('countDown'));
       }
     
       
      var seconds = parseInt(totalAmount%60);
      var minutes = parseInt(totalAmount/60);
         
      if(!minutes && !seconds ){
       $( "#btnNext" ).trigger( "click" );
      }  

      if(seconds < 10)
          seconds = "0"+seconds;

           $('.tminus'+i).val(minutes + ":" + seconds);

       // console.log(minutes);
       //  console.log(seconds);

      timeloop = setTimeout(timeSet, 1000);
  }


  set_time();
  function set_time() {
      var reqVal = jQuery('.quiz_time'+i).val();
      console.log('sss'+reqVal);
      var parAmt = parseInt(reqVal);

      if (timeloop) {
          clearTimeout(timeloop)
      }

      totalAmount = parAmt * 60;
      timeSet();      
   }
});
</script>
</body>
</html>